@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;1,9..40,300&family=Josefin+Sans&display=swap");

.landing,
.landing * {
  box-sizing: border-box;
}
.landing {
  background: #ede6e3;
  width: 1512px;
  height: 982px;
  position: relative;
}

.frame-2 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 698px;
  position: absolute;
  left: 407px;
  top: 107px;
}

.heading {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.coconut-latte {
  color: #373439;
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
  font-size: 128px;
  line-height: 100%;
  font-weight: 500;
  text-transform: lowercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.blog-default {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.group-3 {
  flex-shrink: 0;
  width: 280px;
  height: 280px;
  position: static;
}

.gradient {
  border-radius: 20px;
  width: 280px;
  height: 280px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.texto-em-gotas {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.group-6 {
  flex-shrink: 0;
  width: 280px;
  height: 280px;
  position: static;
}

.sobre {
  flex-shrink: 0;
  width: 280px;
  height: 280px;
  position: relative;
}

.group-4 {
  position: absolute;
  inset: 0;
}

.link-tree-default {
  flex-shrink: 0;
  width: 280px;
  height: 280px;
  position: relative;
}

.group-5 {
  position: absolute;
  inset: 0;
}

.gradient2 {
  border-radius: 30px;
  width: 280px;
  height: 280px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.frame-1 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.made-with-in-berlin {
  color: #757780;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 300;
  text-transform: lowercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
